
		<h2>Welcome to Smalltalk Tutorial!</h2>
		<p>In this Web 2.0 age there are many things that can be done interacting only with a web browser, even learning a <br><br>programming language. The goal of this project is to have a site used for anyone who wants to start to learn Smalltalk<br><br> in an interactive and challenging way. <br><br><br>

In the following tutorial you will learn the basics of Smalltalk so it is a great starting point for newcomers to this programming language.<br><br><br>
			
			Please login with any of the following:</p>
		<p id="logins">
			<a href="/login?using=facebook"><img src="images/facebook.png"></a>
			<a href="/login?using=twitter"><img src="images/twitter.png"></a>
			<a href="/login?using=google2"><img src="images/google.png"></a>
		<p>
