<!DOCTYPE html>

<html>
	<head>
		<title>SmalltalkTutorial</title>
		<script src="../../js/amber.js" type="text/javascript"></script>
	</head>
	<body>
		<h2>Hola, <%=user.first_name%> + "!<img src='http://graph.facebook.com/<%=user.id%>/picture'></h2> - <a href='/logout'>Logout</a> - <a href='/secret'>Secrets</a>
		<hr>

		<script>
			loadAmber({
			files: ['SmalltalkTutorial.js'],
			prefix: 'projects/SmalltalkTutorial/js',
			ready: function() {smalltalk.Lesson<%=lesson_number%>._new()._open() }
			}); 
		</script>
		<button onclick="smalltalk.Browser._open()">class browser</button>
		<div class='lesson'></div>
		<script type="text/javascript"> 
			window.onbeforeunload = function() { return "You are about to lose all uncommitted changes!" }
		</script>

	</body>
</html>
